<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

<html>
{% block title_block %}
    Sign Up
{% endblock %}
    
	<head>
    {% block style_block %}
        <style>
            body {font-family: Arial, Helvetica, sans-serif;}
			form {border: 3px solid #f1f1f1;}
			
	        .sign-in-box {
			    padding: 20px;
                overflow: hidden;
                background-color: #999;
            }
        </style>
    {% endblock %}
	</head>

    {% block body_block %}
	    <div class="sign-in-box">
		    <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
			
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

			    <br><input type="submit" name="submit" value="Register">		
		    </form>
			
			<span class="psw">Already have an account? Click
	            <a href="{% url 'user_login' %}">here</a>
	        </span>
	    </div>
    {% endblock %}
</html>