<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{team.name}}
{% endblock %}

{% block style_block %}
	.profile_right {
		overflow: hidden;
		position: fixed;
		padding-left: 50%;
		padding-top: 1%;
		padding-right: 1%;
		font-family: arial;
		font-size: 26px;
}
  .bottom_space {
     margin-bottom: 4cm;
  }

	.profile_left {
		overflow: hidden;
		position: fixed;
		padding-left: 1%;
		padding-top: 1%;
		padding-right: 1%;
		background-colour: #000;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		max-width: 400px;
		margin: auto;
		font-family: arial;
	}
	.nMembers {
		colour: grey;
		font-size: 18px;
		text-align: center;

	}

	.join-date {
		colour: black;
		text-align: center;

	}

	.profile_left profile_card {

	}
	.profile_left title, .join-date {
		color: grey;
		font-size: 18px;
	}
	.data {
  		margin-top: .6em;
  		color: #81878b;
	}
  	.data li {
    	width: 32%;
    	text-align: center;
    	display: inline-block;
    	font-size: 1.5em;
    	font-family: arial;
    	border-right: solid 1px #bdc3c7;
	}
    .data li:last-child {
    	border: none;
	}
    .data li span {
    	display: block;
    	text-transform: uppercase;
    	font-family: arial;
    	font-size: .5em;
     	margin-top: .6em;
      	font-weight:700;
    }


	.profile_left {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 30%;
		padding-left: 1%;
		padding-top: 1%;
		padding-right: 1%;
		background-colour: #000;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		max-width: 400px;
		margin: auto;
		font-family: arial;
	}
	.location {
		colour: grey;
		font-size: 18px;
		text-align: center;

	}

	.join-date {
		colour: black;
		text-align: center;
	
	}	

	.profile_left profile_card {
		
	}
	.profile_left title, .join-date {
		color: grey;
		font-size: 18px;
	}
	.data {
  		margin-top: .6em;
  		color: #81878b;
	}
  	.data li {
    	width: 32%;
    	text-align: center;
    	display: inline-block;
    	font-size: 1.5em;
    	font-family: arial;
    	border-right: solid 1px #bdc3c7;
	}
    .data li:last-child {
    	border: none;
	}
    .data li span {
    	display: block;
    	text-transform: uppercase;
    	font-family: arial;
    	font-size: .5em;
     	margin-top: .6em;
      	font-weight:700;
    }

{% endblock %}

{% block body_block %}
	<div class="profile_left">
		<div class="profile_card">
			{% if team.picture %}
			<img src="{{ team.picture.url }}" alt="{{ team.name }}" style="width:100%">
			{% endif %}
			<h1 style="text-align: center">{{team.name}}</h1>
			<p class="nMembers">Members: {{ team.users.count }}</p>
			<p class="join-date">Created on {{ team.created_at.date}}</p>
			<div class="points-display">
				<div class="data">
					<ul>
					</ul>
				</div>
			</div>
		</div>
		<div class="members-of-team">
				<p class="location">Members:</p>
				{% if team.users %}
					{% for user in team.users.all %}
						<div class="profile-team-display" style="width: 100%; overflow: hidden">
							<div class="teamname-div" style="float: left;width: 45%; colour: black;text-align: center;">
								<a href="{% url 'user_profile' user.username %}" style="align: center;">{{ user.username }}</a>
							</div>
							<div class="image-div" style="float: right; width: 50%">
								{% if user.picture %}
								<img src="{{ user.picture.url }}" alt="{{ user.username }}" style="width:10%">
								{% endif %}
							</div>
						</div>							
					{% endfor %}
				{% else %}
					This team has no members!
				{% endif %}
			</div>		
		</div>
	</div>
	<div class = "profile_right">
		{% if request.user in team.users.all %}
			<p class = "bottom_space">Members</p>
			<p class = "bottom_space"></p>
			<p class = "bottom_space">Log a cardio workout</p>
			<p class  = "bottom_space">Log a weights workout</p>
			<p class = "bottom_space">
				<form action = "{% url 'team_profile' team.team_id %}" method="post">
					{% csrf_token %}
					<input class="btn btn-primary" type="submit" name="submit" value="Leave"/>
		    	</form>
			</p>
		{% else %}
			Join the group to enjoy full access!
			<form action = "{% url 'team_profile' team.team_id %}" method = "post">
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" name="submit" value="Join"/>
			</form>
		{% endif %}
	</div>


{% endblock %}